@charset "utf-8";

        body{
            background-color: azure;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
        }

        h1{
            color: aquamarine;
            background-color: blueviolet;
            text-align: center;
        }

        h2{
            color: blueviolet;
        }

        p{
            text-align: justify;
        }